@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply mx-2.5 text-center text-dark dark:text-light hover:underline hover:decoration-underline hover:decoration-2 hover:underline-offset-6;
  }
  .badge {
    @apply bg-tag text-light text-center rounded-md font-body font-semibold text-sm mx-1 my-2 px-2 py-1 whitespace-nowrap;
  }
  .btn {
    @apply inline-block text-center bg-transparent border-2 border-button rounded-lg
           text-dark dark:text-light font-body font-semibold px-4 py-2
           transition-colors duration-300
           hover:bg-button hover:text-dark
           dark:hover:bg-button dark:hover:text-dark
           cursor-pointer;
  }
  .icon-btn {
    @apply flex h-10 w-10 p-2 rounded-full border-2 border-light dark:border-dark hover:border-underline  dark:hover:border-link cursor-pointer;
  }
  .hero-gif {
    @apply mt-5 flex mx-auto justify-center;
  }
  .card-grid {
    @apply grid grid-cols-auto-fill-250 gap-4;
  }
  /* Icons */
  .git-icon {
    content: url('/github-mark.svg');
  }
  .mail-icon {
    content: url('/mail.svg');
  }
  .linked-in {
    content: url('/li-in.png');
  }
  .dark .git-icon {
    content: url('/github-mark-white.svg');
  }
  .dark .mail-icon {
    content: url('/mail-white.svg');
  }
  .dark .linked-in {
    content: url('/li-in-white.png');
  }
}

@layer base {
  html {
    @apply bg-light text-dark transition-colors duration-300;
  }
  html.dark {
    @apply bg-dark text-light;
  }
  body {
    @apply max-w-screen-md mx-auto text-justify px-5 md:px-0 lg:px-0 text-dark dark:text-light;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-header;
  }
  h1 {
    @apply text-4xl mb-1;
  }
  h2 {
    @apply text-3xl mb-4 underline decoration-underline decoration-4 underline-offset-6;
  }
  h3 {
    @apply text-2xl mb-2 underline decoration-emphasis decoration-4 underline-offset-6;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
}

/* Global styles */
/* :root {
  --dark: #1e1e2e;
  --light: #fdebf3;
}

html {
  background-color: var(--light);
  color: var(--dark);
}

html.dark {
  background-color: var(--dark);
  color: var(--light);
} */

/* .dark .git-icon {
  content: url('/github-mark-white.svg');
}

.dark .mail-icon {
  content: url('/mail-white.svg');
}

.dark .linked-in {
  content: url('/li-in-white.png');
}

.git-icon {
  content: url('/github-mark.svg');
}

.mail-icon {
  content: url('/mail.svg');
}

.linked-in {
  content: url('/li-in.png');
} */

/* body {
  max-width: 720px;
  margin: 0 auto;
  text-align: justify;
} */

/* h1,
h2,
h3,
h4 {
  font-family: var(--header);
  font-weight: normal;
} */

/* h1 {
  font-size: 2.6rem;
  margin: 0;
  margin-bottom: 5px;
}

h2 {
  text-decoration: underline var(--underline);
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  font-size: 2.1rem;
  margin-bottom: 0;
}

h3 {
  text-decoration: underline var(--emphasis);
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  font-size: 1.7rem;
  margin-bottom: 0;
}

h4 {
  text-decoration: underline var(--underline);
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  font-size: 1.3rem;
  margin-bottom: 0;
}

p {
  font-family: var(--body);
  font-size: 1.1rem;
  hyphens: auto;
  line-height: 1.5;
  text-indent: 1rem;
} */

/* small,
li {
  font-family: var(--body);
} */

/* Navigation Bar */
/* .navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0.8rem;
}

.navbar__title {
  font-family: var(--header);
  font-size: 1.3rem;
}

.navbar__menu {
  font-family: var(--body);
  font-size: 1.1rem;
  text-align: right;
}

.navbar__title > a,
.navbar__menu > a {
  color: var(--text);
  text-decoration: none;
}

.navbar__menu > a {
  margin: 0 10px;
}

.navbar__title > a:hover,
.navbar__menu > a:hover,
.navbar__menu > a:focus {
  text-decoration: underline var(--underline);
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
} */

/* Gifs */

/* Badge */
/* .badge {
  background-color: var(--tag);
  color: var(--text);
  border-radius: 6px;
  font-family: var(--body);
  font-weight: 600;
  font-size: 0.85rem;
  padding: 0.3em 0.6em 0.2em;
}

.badge__list {
  text-indent: 1rem;
  list-style: none;
  padding: 0;
}

.badge__list > li {
  margin-top: 10px;
}

.badge--item {
  border-radius: 4px;
  font-size: 0.7rem;
  margin-right: 5px;
  padding: 0.5em 0.3em 0.3em 0.3em;
}

.badge__link {
  color: var(--text-link);
  text-decoration: none;
}

.badge__link:hover {
  text-decoration: underline;
} */

/* Cards */
/* .card {
  list-style: none;
  display: flex;
  background-size: 400%;
  padding: 20px;
}

.card__link {
  width: 100%;
  text-decoration: none;
  line-height: 1.4;
  border-radius: 8px;
  color: var(--text);
}

.card__img {
  border-radius: 16px;
}

.card__title {
  margin: 0;
  font-family: var(--body);
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}

.card__txt {
  font-size: 1rem;
  line-height: 1.5;
  text-indent: 0;
  text-align: center;
  margin: 0.5rem 0 0;
} */

/* .card__link:hover {
  transform: scale(1.05);
} */

/* .link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 1rem;
  padding: 0;
} */

/* Button */
/* .btn {
  text-align: center;
  background: rgba(0, 0, 0, 0);
  border: 2px solid var(--button);
  border-radius: 8px;
  color: var(--text);
  font: 600 16px var(--body);
  padding: 8px 16px;
  transition: background-color 0.4s, color 0.4s;
}

.btn:hover {
  background-color: var(--button);
  color: var(--text-light);
  cursor: pointer;
} */

/* Skills */
/* .skills {
  display: flex;
  margin-top: 8px;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills__img {
  margin: 8px 4px;
  background-color: var(--tag);
  color: var(--text);
  border-radius: 6px;
  padding: 6px;
} */

/* Items */
/* .center {
  text-align: center;
}

.pro-img {
  border-radius: 16px;
  margin-top: 10px;
} */

/* Footer */
/* footer {
  margin: 4rem 0;
} */

/* .footer__link {
  color: var(--text-link);
  text-decoration: none;
}

.footer {
  cursor: default;
  list-style: none;
  padding: 0;
} */

/* .icon__btn {
  display: inline-block;
  padding: 0 0.5rem;
}

.icon__link {
  display: flex;
  padding: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid var(--border-light);
}

.icon__link:hover {
  border-color: var(--text-link);
} */

/* 404 */
/* .lost {
  margin-top: 30%;
  text-align: center;
}

.lost__header {
  margin: 0 auto;
  text-align: center;
  border: 0;
  font-size: 7.5rem;
  letter-spacing: 10px;
}

.lost__body {
  color: var(--disabled);
}

.lost__link {
  color: var(--text-link);
  text-decoration: none;
} */

/* Theme Icon */
/*
.light .navbar__title > a {
  color: var(--text-light);
}

.light .navbar__menu > a {
  color: var(--text-light);
}

.light .card__title {
  color: var(--text-light);
}

.light .card__txt {
  color: var(--text-light);
} */

/* .light .btn {
  color: var(--text-light);
}

.light .btn:hover {
  color: var(--text);
}

.light .icon__link {
  border: 2px solid var(--text-light);
}

.light .icon__link:hover {
  border-color: var(--text-link);
}*/

/* Media Query */
/* @media only screen and (max-width: 640px) {
  body {
    width: 350px;
  }

  .navbar {
    display: initial;
  }

  .navbar__title {
    text-align: center;
  }

  .navbar__menu {
    text-align: center;
  }

  .navbar__menu > a {
    margin: 0 11px;
  }

  .skills__img {
    height: 30px;
    width: 30px;
    margin: 8px 1px;
  }

  .badge__list {
    font-size: 0.9rem;
    text-indent: 0;
  }

  .pro-img {
    height: auto;
    width: 350px;
  }
} */
